<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<div padding text-center *ngIf="isRetry; else cardDisplay">
		A network error occurred while retrieving the id card information.
		<br>
		<br>
		<button ion-button (click)="fetchIdCardInformation()">Retry</button>
		<hr>
	</div>
	<ng-template #cardDisplay>
		<p text-center *ngIf="lastUpdateTime">Last updated {{ lastUpdateTime }} ago.</p>
		<mhtk-id-card-display *ngFor="let data of idCardData"></mhtk-id-card-display>
		<!--ng-container *ngIf="isAnyCardAvailable &amp;&amp; !isLoginView">
			<ion-list>
				<ion-item>
					<ion-label>View Card On Login Page</ion-label>
					<ion-toggle (ionChange)="onChangeViewCardOffline()" [(ngModel)]="optInOfflineIdCard"></ion-toggle>
				</ion-item>
			</ion-list>
		</ng-container-->
	</ng-template>
</ion-content>
