
@keyframes mhtk-id-card-skeleton-loading {
	from {
		opacity: 1;
		width: 0%;
	}
	to {
		opacity: 0;
		width: 100%;
	}
}
mhtk-id-card-display  {

	.id-card-preview {
		padding-bottom: 64%;
		position: relative;
		perspective: 1000;
		width: 100%;

		> .flipper {
			position: relative;
			transform-style: preserve-3d;
			transition: 0.6s;
			
			> .front, > .back {
				backface-visibility: hidden;
				left: 0;
				position: absolute;
				top: 0;
				transform: rotateY(0deg);
				transform-style: preserve-3d;
				transition: 0.6s;

				img {
					border: 2px solid #d1d1d1;
					border-radius: 10px;
					box-shadow: 3px 3px 10px #b1b1b1;
				}
			}

			> .front {
				transform: rotateY(0deg);
				z-index: 2;
			}

			> .back {
				transform: rotateY(-180deg);
			}

		}

		&.flip {
			> .flipper {
				> .front {
					transform: rotateY(180deg);
				}
				> .back {
					transform: rotateY(0deg);
				}
			}
		}

		&.skeleton {
			&:before {
				animation-duration: 1s;
				animation-iteration-count: infinite; 
				animation-name: mhtk-id-card-skeleton-loading;
				background: #e8e8e8;
				bottom: 0;
				content: "";
				left: 0;
				position: absolute;
				right: auto;
				top: 0;
				width: 100%;
				z-index: 1;
			}
		}

	}

}
