// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
	primary:            #0287d1,
	secondary:          #122c49,
	bcbs:               #0067ac,
	danger:             #d7263d,
	light:              #f4f4f4,
	dark:               #222,
	heading:            #0287d1,
	active-coverage:    #3bcf4d,
	inactive-coverage:  #9e72c0,
	placeholder:        #ccc,
	positive:           #a6c51c,
	warning:            #f75c03,
	lightWarning:       #f9792f,
);
  
 

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$menu-small-width: 250px;
$menu-width: 250px;

$text-color: #6b6b6b;
$text-input-placeholder-color: map-get($colors, placeholder);

$toolbar-background: map-get($colors, heading);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$datetime-ios-placeholder-color: map-get($colors, placeholder);

$label-ios-text-color: map-get($colors, heading);

$list-ios-header-color: map-get($colors, heading);

$note-ios-color: map-get($colors, primary);

$select-ios-placeholder-color: map-get($colors, placeholder);

$toolbar-ios-button-color: white;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$datetime-md-placeholder-color: map-get($colors, placeholder);

$item-md-detail-push-show: true;

$label-md-text-color: map-get($colors, heading);

$list-md-header-border-top: none;
$list-md-header-color: map-get($colors, heading);
$list-md-header-margin-bottom: 0;

$note-md-color: map-get($colors, primary);

$select-md-placeholder-color: map-get($colors, placeholder);

$toolbar-md-button-color: white;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$item-wp-detail-push-show: true;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
