
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* General Styles */

[capitalize] {
	text-transform: capitalize;
}

[screen-reader-only] {
	height: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	text-indent: -9999px !important;
	width: 1px !important;
}

hr, .content-ios hr {
	background-color: #d6d6d6;
	border-top-color: #d6d6d6;
	height: 1px;
	margin: 2rem 0;

	&[no-margin] {
		margin: 0 !important;
	}
}

p {
	margin: 2rem 0;
}

small {
    &[color="danger"] {
        color: color($colors, danger);
    }
    &[color="positive"] {
        color: color($colors, positive);
    }
}

sup {
	font-size: 0.6em;
}

ul {
    &.list-unstyled {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            line-height: 1.7em;
            margin: 0;
            padding: 0;
        }
    }
}

/* CSS Fix for scroll lock bug on ios12.2 (check app.component.ts as well.) */
ion-app.platform-ios12.disable-scroll .ion-page {
    pointer-events: auto;
}

/* Alert Custom Classes */

ion-alert,
.alert-ios,
.alert-md {
	.alert-wrapper {
		.alert-radio-group {
			.alert-radio {
				.alert-radio-label {
					white-space: inherit;
				}
			}
		}
    }
    
    &.alert-buttons-stacked {
        .alert-button-group {
            flex-wrap: wrap;
            padding: 0;

            .alert-button {
                border-top: 1px solid #ccc;
                margin: 0;
                width: 100%;

                .button-inner {
                    justify-content: center;
                }
            }
        }

        ion-list.list + .alert-button-group {
            .alert-button {
                &:first-child {
                    border-top: none;
                }
            }
        }

    }
}

/* Backdrop Custom Classes */

ion-backdrop {
	opacity: 0.2;
}

/* Button Custom Classes */

button[ion-button] {

	&[icon-header-link] {
		background: none;
		box-shadow: none;
		color: #6c6b6b;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: normal;
		height: auto;
		margin: 12px 10px;
		max-height: none;
		max-width: 5em;
		min-height: 0;
		overflow: visible;
		padding: 0;
		text-transform: none;
		vertical-align: top;
		white-space: normal;
        width: auto;
        
        &[no-margin] {
            margin: 0;
        }

		> .button-inner {
            display: block;
            line-height: 1.1;

			ion-icon {
				color: color($colors, primary);
				display: block;
				font-size: 3rem;
				margin: 0 0 0.2em 0;
				padding: 0.1em;
			}

        }
        
        &:hover:not(.disable-hover) {
			background-color: transparent;
			-webkit-box-shadow: none!important;
			box-shadow: none!important;
		}

		&:active, &.activated {
			background-color: color($colors, placeholder) !important;
		}

		&[fluid] {
			max-width: 100%;
		}

	}

	&[large-icon-button] {
		background: transparent;
		border: none;
		border-radius: 0;
		border-top: 4px solid transparent;
		box-shadow: none;
		color: #6c6b6b;
		display: block;
		float: left;
		font-size: 1.4rem;
		font-weight: normal;
		height: 14rem;
		margin: 0;
		overflow: hidden;
		padding: 1rem .4rem 0 .4rem;
		position: relative;
		white-space: normal;
		width: 100%;
		
		> .button-inner {
			display: block;
			font-size: 1.6rem;
			text-transform: none;

			> ion-icon.icon {
				color: color($colors, primary);
				contain: none;
				display: block;
				font-size: 8rem;
				margin-bottom: .2rem;
				width: 100%;
				padding-bottom: 1rem;
			}
		}

		&:hover:not(.disable-hover) {
			background-color: transparent;
			-webkit-box-shadow: none!important;
			box-shadow: none!important;
		}

		&:active {
			background-color: color($colors, placeholder) !important;
		}

	}

	&[block] + button[ion-button][block] {
		margin-top: 1rem;
	}

	&[color="placeholder"] {
		ion-icon.icon:before {
			color: color($colors, placeholder);
		}
	}

	&[outline][strong] {
		border-radius: .5rem;
		border-width: .2rem;
	}

}

/* Card Custom Classes */

ion-card.card {

	&[basic] {
		background: transparent;
		border: none;
		box-shadow: none;
		overflow: visible;
	}

	&[attached] {
		margin: 0;
		width: 100%;
	}

	&[no-margin] {
		width: 100%;
	}

}

/* Content Custom Classes */

ion-content.content {
	&[form-page] {
		background: #f5f5f5;
    }
    [background-alternate] {
        background: #f5f5f5;
        padding: 1px;
	}
}

/* Grid Custom Classes */

ion-grid.grid {

	> ion-row.row {

		&[no-horizontal-padding] {
			padding-left: 0;
			padding-right: 0;

			> ion-col.col {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&[small-horizontal-padding] {
			margin-left: -4px;
			margin-right: -4px;

			> ion-col.col {
				padding-left: 4px;
				padding-right: 4px;
			}
		}

		&[medium-horizontal-padding] {
			margin-left: -10px;
			margin-right: -10px;

			> ion-col.col {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		&[large-horizontal-padding] {
			margin-left: -17px;
			margin-right: -17px;

			> ion-col.col {
				padding-left: 17px;
				padding-right: 17px;
			}
		}

		&[no-vertical-padding] {
			padding-bottom: 0;
			padding-top: 0;

			> ion-col.col {
				padding-bottom: 0;
				padding-top: 0;
			}
		}

		&[small-vertical-padding] {
			> ion-col.col {
				padding-bottom: 4px;
				padding-top: 4px;
			}
		}

		&[medium-vertical-padding] {
			> ion-col.col {
				padding-bottom: 10px;
				padding-top: 10px;
			}
		}

		&[large-vertical-padding] {
			> ion-col.col {
				padding-bottom: 17px;
				padding-top: 17px;
			}
		}

		&[justify-center] {
			justify-content: center;
		}

		&[align-items-center] {
			align-items: center;
		}

		&[align-content-center] {
			align-content: center;
		}

	}

	&[fill-height] {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0;

		> ion-row.row {
			flex-grow: 1;
			flex-shrink: 1;

			&[flex-fit] {
				flex-grow: 0;
				flex-shrink: 0;
			}

			&[flex-no-shrink] {
				flex-shrink: 0;
			}
		}
	}

}

/* Icon Custom Classes */

ion-icon.icon {

	&[vertical-center] {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
    }

}

/* Item Custom Classes */

ion-item.item,
.item.item-block {

	&[right-label] {
		display: flex;
		flex-direction: row-reverse;

		> .item-inner {

			> .input-wrapper {

				> ion-label.label {
					margin: 13px 0px 13px 8px;
				}

			}

		}

		ion-toggle.toggle {
			padding: 0 0 0 0;
		}

	}

	&[allow-wrap] {
		ion-label.label {
			white-space: normal;
		}
	}

	&.item-toggle[right-aligned] {
		> .item-inner {
			text-align: right;

			> .input-wrapper {
				flex: 0 0 auto;
			}

		}
	}

	&[basic] {
		background: none;
		border: none;
		display: block;
		height: auto;
		max-height: none;
		min-height: 0;
		padding: 0;

		> .item-inner {
			border: none;
			display: block;
			height: auto;
			max-height: none;
			min-height: 0;
			padding: 0;

			> .input-wrapper {
				border: none;
				display: block;
				height: auto;
				max-height: none;
				min-height: 0;
				padding: 0;

				> ion-label.label {
					border: none;
					display: block;
					height: auto;
					max-height: none;
					min-height: 0;
					padding: 0;
				}

			}

		}

	}

	&[color="primary"] {
		> .item-inner {
			> .input-wrapper {
				ion-label.label {
					color: white;
				}

				ion-select.select {
					> .select-icon {
						> .select-icon-inner {
							color: white;
						}
					}
				}
			}
		}
	}

}

/* Label Custom Classes */

ion-label.label {

	&[fitted] {
		margin: 0;
		padding: 0;
    }
    
    &[text-small] {
        font-size: 1.2rem;
    }

}

/* List Custom Classes */

ion-list.list {

    &[top-attached] {
        > button[ion-item].item-block:first-child {
            border-top: none;
        }
    }

    &[divided-section] {
        border-top: 1px solid #ccc;
        margin-top: 3rem;

        > ion-list-header.list-header {
            border-bottom: none;
        }

        > ion-item-group > ion-item-divider.item-divider {
            border-color: #bbb;
            margin: 1rem 3rem;
            min-height: 0;
            width: auto;

            ion-label.label {
                margin: 0;
            }
        }
    }

	> ion-list-header.list-header {
		border-bottom: 1px solid $list-border-color;
		background: transparent;

		ion-icon[item-start] + .item-inner {
			margin-left: 1rem;
		}

		&[divided-section] {
			border: none;
			font-size: 1.4rem;
			min-height: 0;

			ion-label.label {
				margin: 0;
			}
		}

		&[stacked-title] {
			border: none;
			color: #646464;
			font-size: 1.6rem;
			font-weight: normal;
			line-height: 1;
			margin: 0;
			padding: 0 0 8px 0;
			text-transform: none;

			> ion-icon.icon {
				color: color($colors, heading);
				font-size: 2.5em;
				margin-right: 12px;
			}

			strong, b {
				color: color($colors, heading);
				display: block;
				font-size: 2rem;
				font-weight: normal;
			}
        }
        
        &[clickable] {
            &:active {
                background-color: color($colors, placeholder) !important;
            }
        }

	}

	> button[ion-item],
	> ion-item.item {

		&.item-block {
			&:first-child {
				border-top: 1px solid $list-border-color;
			}

			&:last-child {
				border-bottom: 1px solid $list-border-color;
			}
		}

		ion-icon.icon[icon-description] {
			width: 7rem;

			&[item-start] {
				margin: 8px 8px 9px -1rem;
			}

			&:after {
				color: #777777;
				content: attr(icon-description);
				display: block;
				font-family: Arial, sans-serif;
				font-size: 1rem;
				font-weight: bold;
				margin-top: 0.5rem;
				white-space: nowrap;
			}

			+ .item-inner {
				margin-left: 0;
			}
        }
        
        &[emphasized] {
            ion-label.label {
                font-size: 1.8rem;
                margin-bottom: 16px;
                margin-top: 16px;

                ion-icon.icon {
                    font-size: 2.4rem;
                    margin-right: 1rem;
                    vertical-align: middle;
                }
            }
        }
	}

	&[blocky] {
		> button[ion-item],
		> ion-item.item {
			background: #f2f1f1;
			border: none;
			border-radius: 0;
			color: #6b6b6b;
			margin: 1rem 0;
			padding: 0 0 0 1.6rem;
			width: 100%;

			&:first-child, &:last-child {
				border: none;
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}

			> .item-inner {
				border: none;
			}
		}

		&[inset] {
			margin: 1rem 1.5rem;
			width: calc(100% - 3rem);
		}

	}

	&[attached] {
		margin: 0;
	}

	+ ion-list.list {

		> ion-list-header.list-header {
			padding-top: 2rem;
		}

	}

}

/* Modal Custom Classes */

ion-modal {
    &.modal-alert {
        display: flex;
        flex-direction: column;
        justify-content: center;

        ion-backdrop {
            visibility: visible !important;
        }
        .modal-wrapper {
            contain: content;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            flex-grow: 0;
            height: auto;
            max-height: 90%;
            min-width: 250px;
            opacity: 0;
            position: relative;
            z-index: 10;

            .ion-page {
                contain: none;
                height: auto;
                position: relative;

                > ion-header.header {
                    position: relative;
                }

                > ion-content.content {
                    position: relative;
                }
            }
        }
    }
}

.md {
    ion-modal {

        &.modal-alert {
            .modal-wrapper {
                background-color: #fafafa;
                border-radius: 2px;
                -webkit-box-shadow: 0 16px 20px rgba(0,0,0,.4);
                box-shadow: 0 16px 20px rgba(0,0,0,.4);
                left: calc(50% - (280px/2)) !important;
                max-width: 280px;
            }
        }
    
    }
}

.ios {
    ion-modal {
        &.modal-alert {
            .modal-wrapper {
                background-color: #f8f8f8;
                border-radius: 13px;
                -webkit-box-shadow: none;
                box-shadow: none;
                left: calc(50% - (270px/2)) !important;
                max-width: 270px;
                overflow: hidden;
            }
        }
    }
}

/* Note Custom Classes */

ion-note.note {
	text-align: right;
}

/* Popover Custom Classes */

ion-popover.main-menu {
	> .popover-wrapper {
		> .popover-content {
			border-radius: 4px;
			box-shadow: 0 0 10px #aaa;
			width: 150px;
		}
	}
}

/* Segment Custom Classes */

ion-segment.segment {

	&[divided-links] {
		display: block;
		font-size: 1.6rem;
		text-align: center;

		> ion-segment-button.segment-button {
			background: none;
			border: none;
			color: #488aff;
			display: inline-block;
			font-size: 1.3rem;
			height: auto;
			line-height: 3rem;
			min-height: 0;
			opacity: 1;
			padding: 0 0 0 1rem;
			position: relative;
			width: auto;

			&:before {
				background: white;
				content: "";
				display: block;
				height: 1rem;
				left: .3rem;
				position: absolute;
				top: 1rem;
				width: 1px;
			}

			&:first-child {
				padding: 0;

				&:before {
					display: none;
				}
			}

			&.activated {
				color: black;
			}

		}

    }
    
    &[toggle-selection] {
        .segment-button.segment-activated {
            background: color($colors, primary);
            color: white;
        }
        .segment-button {
            background-color: #ddd;
        }
    }

}

/* Slide Custom Classes */

ion-slide.swiper-slide {

	&[scrolling] {
		> .slide-zoom {
			height: 100%;
			overflow: scroll;
		}
	}

}

/* Tabs Custom Classes */

ion-tabs.tabs {

	> .tabbar {
		background: white;
		border: none;

		> .tab-button {
			border: none;
			border-top: 4px solid transparent;
			box-sizing: border-box;
			color: #6c6b6b;
			font-size: 1.4rem;
			height: 7.5rem;

			> ion-icon.icon {
				color: #aeaeae;
				font-size: 2em;
			}

			&[aria-selected="true"] {
				background: color($colors, bcbs);
				color: white;

				> ion-icon.icon {
					color: white;
				}
			}
			
		}
	}

	&[tabsPlacement="bottom"] {
		> .tabbar {
			&:before {
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 100%);
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 100%);
				content: "";
				height: 10px;
				left: 0;
				position: absolute;
				right: 0;
				top: -10px;
			}
		}
	}

}

/* Toast Custom Classes */
mhtk-toast,
ion-toast {
	&.success, &.warning, &.danger {
		> .toast-wrapper {
			.toast-message {
				color: white;
			}
		}
	}
	&.success {
		> .toast-wrapper {
			background: color($colors, positive);
		}
	}
	&.warning {
		> .toast-wrapper {
			background: color($colors, warning);
		}
	}
	&.danger {
		> .toast-wrapper {
			background: color($colors, danger);
		}
	}
	&.secondary {
		> .toast-wrapper {
			background: color($colors, secondary);
		}
    }
}

mhtk-toast {

    display: flex;
    flex-direction: row;
    height: 100vh;
    z-index: 10001;

    &.toast-ios, &.toast-md {
        > .toast-wrapper {
            &.mhtk-toast-in-top,
            &.mhtk-toast-out-top,
            &.mhtk-toast-in-bottom,
            &.mhtk-toast-out-bottom,
            &.mhtk-toast-fade-in,
            &.mhtk-toast-fade-out {
                animation-duration: .5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            &.toast-top {
                transform: translate(0,0);

                &.mhtk-toast-in-top {
                    animation-name: mhtk-toast-in-top;
                }
                &.mhtk-toast-out-top {
                    animation-name: mhtk-toast-out-top;
                    pointer-events: none;
                }
            }
            &.toast-bottom {
                transform: translate(0,0);
                
                &.mhtk-toast-in-bottom {
                    animation-name: mhtk-toast-in-bottom;
                }
                &.mhtk-toast-out-bottom {
                    animation-name: mhtk-toast-out-bottom;
                    pointer-events: none;
                }
            }
            &.toast-middle {
                align-self: center;

                &.mhtk-toast-fade-in {
                    animation-name: mhtk-toast-fade-in;
                }
                &.mhtk-toast-fade-out {
                    animation-name: mhtk-toast-fade-out;
                    pointer-events: none;
                }
            }
            &.toast-top, &.toast-bottom, &.toast-middle {
                &.mhtk-toast-fade-out {
                    animation-name: mhtk-toast-fade-out;
                    pointer-events: none;
                }
                &.mhtk-toast-swipe-left {
                    animation-name: mhtk-toast-swipe-left;
                    pointer-events: none;
                }
                &.mhtk-toast-swipe-right {
                    animation-name: mhtk-toast-swipe-right;
                    pointer-events: none;
                }
            }
        }
    }

    &.toast-ios {
        > .toast-wrapper {
            &.toast-bottom {
                margin-bottom: 1rem;
            }
            &.toast-top {
                margin-top: 1rem;
            }
        }
    }
}

@keyframes mhtk-toast-in-top {
    from {
        transform: translate(0, -130%);
    }
    to {
        transfrom: translate(0, 0);
    }
}

@keyframes mhtk-toast-out-top {
    from {
        transfrom: translate(0, 0);
    }
    to {
        transform: translate(0, -130%);
    }
}

@keyframes mhtk-toast-in-bottom {
    from {
        transform: translate(0, 130%);
    }
    to {
        transfrom: translate(0, 0);
    }
}

@keyframes mhtk-toast-out-bottom {
    from {
        transfrom: translate(0, 0);
    }
    to {
        transform: translate(0, 130%);
    }
}

@keyframes mhtk-toast-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mhtk-toast-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mhtk-toast-swipe-left {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(-130%, 0);
        opacity: 0;
    }
}

@keyframes mhtk-toast-swipe-right {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(130%, 0);
        opacity: 0;
    }
}

/* Toggle Custom Classes */

ion-toggle.toggle {
	box-sizing: content-box;
	height: 3rem;
	padding: 0 0 0 0;
	width: 5rem;

	> .toggle-icon {
		background: none;
		border: 0.2rem solid #bbb;
		border-radius: 2rem;
		box-sizing: border-box;
		height: 3rem;
		padding: 0.2rem;
		width: 5rem;

		&:before {
			background-color: transparent;
			border-radius: 1.6rem; 
			bottom: 0.3rem;
			content: "";
			left: 0.3rem; 
			position: absolute;
			right: 0.3rem;
			top: 0.3rem; 
			transform: scale3d(0,0,0);
			transition: background-color 0.3s, transform 0.3s;
		}

		> .toggle-inner {
			background: #bbb;
			box-shadow: none;
			height: 2rem;
			left: 0.3rem;
			top: 0.3rem; 
			width: 2rem; 
		}

	}

	&.toggle-checked {
		
		> .toggle-icon {
			background: none;
			border-color: color($colors, bcbs);

			&:before {
				background-color: color($colors, bcbs);
				transform: scale3d(1,1,1);
				transition: background-color 0.3s, transform 0.3s;
			}

			> .toggle-inner {
				background: white;
				box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
				transform: translate3d(2rem, 0, 0);
			}
		}
	}

}

/* Toolbar Custom Classes */

ion-toolbar.toolbar {

	ion-buttons.bar-buttons {
		button.bar-button {
			.text-ios-primary {
				color: white;
			}
		}
	}

}